<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkypeSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SkypeSimulator.Properties.Settings>
            <setting name="MyTEBot" serializeAs="String">
              <value>http://60.205.213.71:81/MyTEBoT/EnterpriseId/{0}/Messsage/{1}</value>
              <!--<value>http://localhost/MyTERoBoT/MyTEBot/EnterpriseId/{0}/Messsage/{1}</value>-->
              <!--<value>http://localhost/MyTERoBoT/EnterpriseId/{0}/Messsage/{1}</value>-->
            </setting>
        </SkypeSimulator.Properties.Settings>
    </userSettings>
</configuration>